.portfolio {
  background-color: #fff;
  height: 525px;
  padding: 0 70px 125px;
  box-sizing: border-box;
}

.portfolio__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  color: #A0A0A0;
  margin: 0 0 50px;
}

.portfolio__links-container {
  padding: 0;
  list-style: none;
  margin: 0;
}

.portfolio__link-item {
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 20px;
}

.portfolio__link-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  min-height: 69px;
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  transition: opacity .3s ease-in 0s;
  position: relative;
}

.portfolio__link:focus {
  outline: none;
}

.portfolio__link:hover {
  opacity: .6;
  cursor: pointer;
}

.portfolio__link::after {
  content: url(../../images/arrow.svg);
  width: 29px;
  height: 60px;
  position: absolute;
  right: 0;
}


@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
    height: 390px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.78;
  }

  .portfolio__link::after {
    width: 27px;
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    padding: 0 14px 70px;
    height: 294px;
  }

  .portfolio__heading {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 1.55;
    min-height: 47px;
  }

  .portfolio__link::after {
    width: 18px;
    height: 28px;
  }
}