.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5C5C5C;
  min-height: 560px;
  padding: 50px 70px 60px;
}

.promo__heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.3;
  color: #fff;
  max-width: 626px;
  margin: 0;
  letter-spacing: -0.04em;
}

.promo__decoration {
  background-image: url(../../images/promo-decoration.svg);
  width: 722px;
  height: 244px; 
  opacity: .7;
  align-self: flex-end;
}