.login {
  min-height: 700px;
  height: 100vh;
  box-sizing: border-box;
  padding: 70px 0;
  width: 396px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__logo {
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
}

.login__greeting {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  font-style: normal;
  font-weight: 500;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 413px;
}

.login__form-fields {
  padding: 0;
  border: none;
  margin: 0;
  width: 100%;
}

.login__input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
}

.login__input-field:last-of-type {
  margin-bottom: 0;
}

.login__input-line {
  margin-top: 10px;
  border: none;
  background: #F9F9F9;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
  height: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.23;
}

.login__input-line_error {
  color: #EE3465;
}

.login__input-line:focus {
  outline: none;
}

.login__input-error {
  margin: 10px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  height: 12px;
  opacity: 0;
  color: #EE3465;
  transition: opacity .3s;
}

.login__general-error_visible {
  opacity: 1;
  margin-bottom: 10px;
  text-align: center;
}

.login__input-line:focus+.login__input-error_visible {
  opacity: 1;
}

.login__form-btns {
  box-sizing: border-box;
}

.login__save-btn {
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: #2BE080;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  transition: all .3s;
}

.login__save-btn:hover {
  opacity: .6;
  cursor: pointer;
}

.login__save-btn:focus {
  outline: none;
} 

.login__save-btn_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.login__save-btn_disabled:hover {
  opacity: 1;
  cursor: default;
}

.login__register {
  margin: 16px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #A0A0A0;
}

.login__login-btn {
  text-decoration: none;
  color: #2BE080;
  transition: opacity .3s;
}

.login__login-btn:hover {
  opacity: .6;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .login {
    padding: 232px 0;
    min-height: 1024px;
    justify-content: flex-start;
    height: fit-content;
  }

  .login__logo {
    margin-bottom: 40px;
  }

  .login__greeting {
    margin-bottom: 40px;
  }

  .login__form-btns {
    padding-top: 69px;
  }
}

@media screen and (max-width: 600px) {
  .login {
    padding: 56px 0 30px;
    min-height: 780px;
    width: 260px;
  }

  .login__logo {
    margin-bottom: 50px;
    align-self: center;
  }

  .login__greeting {
    align-self: center;
    margin-bottom: 80px;
  }

  .login__form-btns {
    padding-top: 157px;
  }

  .login__register {
    margin-top: 14px;
    font-size: 12px;
    line-height: 1.25;
  }
}