@import url(./vendor/styles/normalize.css);
@import url(./vendor/fonts/fonts.css); 
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Footer/Footer.css);

#root {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #000;
  background-color: #fff;
  min-height: 100vh;
}